* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    background: black;
}

html {
    background: black;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background: black;
}

@font-face {
    font-family: Hubo;
    font-weight: normal;
    font-style: normal;
    src: url('/assets/HubotSans.woff2') format('woff2');
}
